html, body {
	height: 100%;
}

body {
	background: linear-gradient(120deg, rgb(18, 144, 164) 0%, rgb(18, 144, 164) 0%, rgb(245, 104, 118) 100%);
}

#messages {
	border-radius: 5px;
}

#message-input {
	resize: none;
	overflow: hidden;
}

#feedback-success-alert {
	padding-top: 5px;
	padding-bottom: 5px;
}

#feedback-danger-alert {
	padding-top: 5px;
	padding-bottom: 5px;
}

textarea {
	min-height: 56px !important;
}

#group-chat-icon {
	-webkit-filter: grayscale(100%);
	filter: grayscale(50%);
	opacity: 0.5;
}

#user-popover-template {
	display: none;
}

#feedback-popover-template {
	display: none;
}

.popover {
	border: 2px solid rgba(0, 0, 0, 0.2);
}

.message-container {
	word-break: break-all;
	background-color: #efefef;
	border-radius: 5px;
	padding: 5px;
	margin: 7px 0;
	width: 60%;
	max-width: 300px;
	box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.15);
}

.right {
	flex-direction: row-reverse;
	display: flex;
	text-align: left;
	float: none;
}

.left {
	display: flex;
    text-align: left;
    float: none;
}

/* Scrollbar style */
::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background: #999;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: #aaa;
}
