html, body {
	height: 100%;
}

body {
	background: linear-gradient(120deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
}

#messages {
	border-radius: 5px;
}

#message-input {
	resize: none;
	overflow: hidden;
}

textarea {
	min-height: 56px !important;
}

#group-chat-icon {
	-webkit-filter: grayscale(100%);
	filter: grayscale(50%);
	opacity: 0.5;
}

#user-popover-template {
	display: none;
}

#feedback-popover-template {
	display: none;
}

.popover {
	border: 2px solid rgba(0, 0, 0, 0.2);
}

.message-container {
	word-break: break-all;
	background-color: #efefef;
	border-radius: 5px;
	padding: 5px;
	margin: 5px 0;
	width: 60%;
}

.right .message-container {
	float: right;
}

.left .message-container {
	float: left;
}


/* Scrollbar style */
::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background: #999;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: #aaa;
}
