.messages-container {
	background-color: #f9f9f9;
	overflow: scroll;
	overflow-x: hidden;
	height: 60vh;
}

.message-container {
	background-color: #eaf0f2;
	padding: 10px;
	box-shadow: 4px 4px 9px 0px rgba(0, 0, 0, 0.1);
	margin-bottom: 10px;
}

.messages {
	padding-top: 15px;
	padding-left: 10px;
}