html, body {
	height: 100%;
}

.message-container {
	word-break: break-all;
	background-color: #efefef;
	border-radius: 5px;
	padding: 5px;
	margin: 5px 0;
	width: 60%;
}

.right .message-container {
	float: right;
}

.left .message-container {
	float: left;
}